<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.friend.mapper.user.UserExamMapper">
    <select id="selectUserExamList" resultType="com.seven.friend.domain.exam.vo.ExamVO">
        SELECT
            e.exam_id,
            e.title,
            e.start_time,
            e.end_time
        FROM
            tb_user_exam ue
        JOIN
            tb_exam e
        ON
            ue.exam_id = e.exam_id
        WHERE
            ue.user_id = #{userId}
        AND
            status = 1
        ORDER BY
            ue.create_time DESC
    </select>
    <select id="selectExamRankList" resultType="com.seven.friend.domain.exam.vo.ExamRankVO">
        SELECT
            user_id,
            score,
            exam_rank
        FROM
            tb_user_exam
        WHERE
            exam_id = #{examId}
        ORDER BY
            exam_rank
    </select>
</mapper>